<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
        </li>
      {% endif %}

      {% for pg in page_obj.paginator.page_range %}
        {% with query_string_q='&q='|add:request.GET.q if request.GET.q else '' %}

          {% if pg == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ pg }}{{ query_string_q }}">{{ pg }}</a></li>
          {% elif pg <= 3 or pg >= page_obj.paginator.num_pages|add:'-2' %}
            <li class="page-item"><a class="page-link" href="?page={{ pg }}{{ query_string_q }}">{{ pg }}</a></li>
          {% elif pg == page_obj.number|add:'-4' or pg == page_obj.number|add:'+4' %}
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          {% elif pg > page_obj.number|add:'-4' and pg < page_obj.number|add:'+4' %}
            <li class="page-item"><a class="page-link" href="?page={{ pg }}{{ query_string_q }}">{{ pg }}</a></li>
          {% endif %}

        {% endwith %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>